* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* background-color:#A6D7EB; */
  /* background-color:#43719C; */
  height: 100%;
  font-family: 'Open Sans', Ariel, sans-serif;
  /* background: url('./images/joni-backgroud.png') repeat center/cover; */
}

.App {
  height: 100%;
  margin: auto;
  /* max-width: 1100px; */
  width: 100%;

  /* position: absolute; */
  z-index: 1;
  opacity: 1;
  
}


#background-img {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity:0.9;
  position: fixed;
}

.header {
  position: fixed;
  height: 65px;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1;
}

.cart-logo-img {
  width: 48px;
  margin: 10px;
  cursor: pointer;
}

.cart-div {
  cursor: pointer;
}

#cart-amount {
  border: 2px solid black;
  border-radius: 100px;
  background-color: #0082D7;
  width: 25px;
  height: 25px;
  transform: translate(25px, -64px);
  text-align: center;

}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* margin-top: 80px; */
  padding-top: 80px;
  z-index: 1;
  /* position: fixed; */
}

#joni-heb-eng {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  font-size: 50px;
  letter-spacing: 2px;
  word-spacing: 14px;
  font-family: 'Alef',Arial,sans-serif;
  margin-bottom: 15px;
}

#home-slogan {
  font-style: italic;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 15px;
}

.cards {
  display: grid;
  margin-top: 50px;
  /* border: 2px solid black; */
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}


.card-all {
  margin: 60px;
  /* cursor: pointer; */
  background-color: transparent;
  height: 300px;
  perspective: 500px;
  /* border: 2px solid black; */
  direction: rtl;
}

.card-front img {
  width: 90%;
  height: 300px;
  /* object-fit: cover; */
  opacity: 0.9;
}

#amount-li  {
  width: 40px;
  height: 40px;
  display: flex;
}


.card-all h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-all:hover .card {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.card-back {
  position: absolute;
  width: 90%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #828282;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card-back h1 {
  font-size: 16px;
}

.plus-minus-input-div {
  margin-right: 20px;
  width: 32px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.plus-minus-input-div img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 3px;
}

.plus-minus-input-div img:hover {
  transform: scale(1.2);
}


#description {
  letter-spacing: 0px;
  word-spacing: 0px;
  font-size: 14px;
}

#amount-input {
  border: 1px solid black;
  width: 30px;
  background: white;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
  letter-spacing: 0px;
  word-spacing: 0px;
}

#amount-li strong {
  font-size: 15px;
}

.Buy {
  display: flex;
  position: absolute;
  flex-direction: row-reverse;
  width: 40vw;
  height: 65vh;
  transform: translate(70%, 4%);
  background-color: white;
  opacity: 0.6;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px white;
}

.Product{
  position: relative;
  display: flex;
  direction: rtl;
  flex-direction: column;
  width: 50%;
  margin-top: 10px; 
  /* border: 2px solid black; */
}

.Delivery {
  position: relative;
  width: 50%;
  height: 50%;
  transform: translateY(10%);
  z-index: 1000;
  margin-right: 5px;
  /* border: 2px solid black; */
  padding-left: 15px;
  /* border-left: 5px solid #2A5786; */
}

.Delivery form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  direction: rtl;
}

.input {
  height: 40px;
}

.submit {
  height: 10%;
  margin-top: 5px;
  /* width: 30%; */
  cursor: pointer;
}

input:focus::placeholder {
  font-size: 0.9rem;
  direction: rtl;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=email]:focus {
  direction: ltr;
}

input[type=tel]:focus {
  direction: ltr;
}

input[type=text]:focus::placeholder {
  direction: ltr;
} 

.error-div {
  font-size: 0.7rem;
  color: red;
}


.Product h3 {
  border-bottom: 2px solid black;
}

.Product table {
  border-collapse: collapse;
  width: 80%;
  margin: 10px;
}

.Product table, th, tr {
  border: 1px solid black;
} 

.delivery-summary {
  border: 2px solid black;
}

@media (max-width: 1000px) {
  
}

@media (max-width: 800px) {
  
  .Buy {
    display: flex;
    direction: rtl;
    position: absolute; 
    flex-direction: column;
    padding-left: 10px;
    width: 40vw;
    height: 80vh;
    transform: translate(70%, 2%);
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px white;
  }
  
  .Product{
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* border: 2px solid green; */
    margin-top: 10px;
  }
  
  .Delivery {
    position: relative;
    /* border: 2px solid purple; */
    width: 80%;
    height: 70%;
    /* transform: translateY(10%); */
    z-index: 1000;
    margin-right: 5px;
    /* border: 2px solid black; */
    padding-left: 15px;
    /* border-left: 5px solid #2A5786; */
    border-left: 0px;
    padding: 0px 0px 10px 0px;
  }


  .Product h3{
    font-size: 20px;
  }

  .Product h2 {
    font-size: 21px;
  }

  .Product table {
    font-size: 14px;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  .card-back h1 {
    font-size: 18px;
  }

  #description {
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  #home-slogan {
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 100;
    text-align: center;
  }

}

@media (max-width: 500px) {
  
  .Buy {
    flex-direction: column;
    padding-left: 10px;
    display: flex;
    direction: rtl;
    position: absolute;
    width: 40vw;
    height: 80vh;
    transform: translate(70%, 2%);
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px white;
  }
  
  .Product{
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* border: 2px solid green; */
    margin-top: 10px;
  }
  
  .Delivery {
    position: relative;
    /* border: 2px solid purple; */
    width: 80%;
    height: 70%;
    /* transform: translateY(10%); */
    z-index: 1000;
    margin-right: 5px;
    /* border: 2px solid black; */
    padding-left: 15px;
    /* border-left: 5px solid #2A5786; */
    border-left: 0px;
    padding: 0px 0px 10px 0px;
  }

  .Product {
    height: 1000px;

  }

  .Product h3{
    font-size: 20px;
  }

  .Product h2 {
    font-size: 21px;
  }

  .Product table {
    font-size: 14px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card-back h1 {
    font-size: 18px;
  }

  #description{
    letter-spacing: 0px;
    word-spacing: 0px;
  }

  #home-slogan {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: 100;
  }
}
